{{! Front page; this file renders a front page with a list of the latest posts }}
{{> head}}
{{> navbar}}
<main class="home-layout">
    <section class="home-credo" {{#if @website.coverImage}}style="background-image:url('{{@website.coverImage}}');"{{/if}}>
        <div class="home-credo__overlay">
            <h1 class="home-credo__title">{{@website.name}}</h1>
            {{#if @website.description}}
                <p class="home-credo__text">{{@website.description}}</p>
            {{/if}}
        </div>
    </section>

    <section class="home-carousel card" data-home-carousel>
        <div class="home-carousel__header">
            <h2>{{ translate "home.latestPosts" }}</h2>
            <div class="home-carousel__controls">
                <button type="button" class="home-carousel__control" data-carousel-prev aria-label="Vorheriger Beitrag">&larr;</button>
                <button type="button" class="home-carousel__control" data-carousel-next aria-label="Nächster Beitrag">&rarr;</button>
            </div>
        </div>

        <div class="home-carousel__viewport">
            <div class="home-carousel__track" data-carousel-track>
                {{#each posts}}
                    {{#checkIf @index '<' @config.custom.homeCarouselPosts}}
                        <article class="home-carousel__slide" data-carousel-slide>
                            <div class="post-card card">
                                {{#featuredImage}}
                                    {{#if url}}
                                        <a href="{{../url}}" class="post-card__media-link">
                                            <img
                                                src="{{url}}"
                                                {{#if @config.site.responsiveImages}}
                                                    {{responsiveImageAttributes 'featuredImage' srcset sizes}}
                                                {{/if}}
                                                {{lazyload "lazy"}}
                                                height="{{height}}"
                                                width="{{width}}"
                                                alt="{{alt}}"
                                                class="post-card__image">
                                        </a>
                                    {{/if}}
                                {{/featuredImage}}

                                <div class="post-card__body">
                                    <h3 class="post-card__title"><a href="{{url}}">{{title}}</a></h3>
                                    <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">{{date createdAt}}</time>
                                    <p class="post-card__excerpt">{{excerpt}}</p>
                                </div>
                            </div>
                        </article>
                    {{/checkIf}}
                {{/each}}
            </div>
        </div>
    </section>
</main>
{{> footer}}